@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --text-accent: var(--color-orange-600)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(ellipse at top, #251917, #000000, #000000);
  color: var(--foreground);
  min-height: 100vh;
}